@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap');


* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}


body {
    color:white;
    background-color: black;
    font-family: 'Charis SIL', serif;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

a {
    cursor: pointer;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 26px 50px;
    align-items: center;
    background-color: black;
}

.navbar-container a {
    margin: 8px;
    font-size: larger;
}

.navbar-container .selected {
    border-bottom: 1px solid white;
}

.section-a {
    padding: 50px 126px;
    background-color: black;
  }



.section-a .grid-container {
    align-items: center;
    display: grid;
    gap: 50px;
    grid-template-columns: 52% 48%;
    margin-bottom: 52px;
}  

.section-a .image {
    display: flex;
    justify-content: end;
}

.section-a .caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
}

.section-a .content {
    max-width: 75%;
}

.section-a .content h1 {
    margin-bottom: 12px;
}

.section-a .content h3 {
    margin-bottom: 24px;
}

.section-a .content div {
    margin-bottom: 80px;
}

.section-a .caption h3 {
    margin-bottom: 24px;
}

.section-a a {
    border-bottom: 1px solid white;
}

button {
    background-color: black;
    color: white;
    padding: 16px 32px;
    border: 2px solid white;
    font-size: 16px;
    font-family: 'Charis SIL', serif;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
} 

.section-b {
    padding: 50px 126px;
    background-color:white;
    color:black;
}

.section-b .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.section-b .grid-item img {
    width: 100%;
    height: 254px;
    object-fit: cover;

}

.section-c {
    padding: 50px 126px;
    background-color:#003152;
}

.section-c .caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.section-c .grid-container {
    align-items: center;
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}  

.section-c .grid-item img{
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.section-c h1 {
    margin-bottom: 16px;
}

.section-c h4 {
    margin-bottom: 48px;
}

.section-d {
    background-color: #0D4073;
}

.section-d .inner {
    display: flex;
    flex-direction: column;
    padding: 50px 126px;
    align-items: center;
}

.section-d .caption {
    margin-bottom: 25px;
}

.section-d .caption a {
    border-bottom: 1px solid white;
}

.section-d .icons a {
    margin: 0px 8px;
    font-size: larger;
}