
.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 26px 50px;
    align-items: center;
    background-color: darkmagenta;
}

.section-a {
    padding: 50px 126px;
    background-color: pink;
  }

.section-a .grid-container {
    align-items: center;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto;
}  

.section-a .caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-b {
    padding: 50px 126px;
    background-color:goldenrod
}

.section-b .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: center;
}

.section-b .grid-item img {
    width: 100%;
    height: 254px;
    object-fit: cover;

}

.section-c {
    padding: 50px 126px;
    background-color:indianred
}

.section-c .caption {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.section-c .grid-container {
    align-items: center;
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
}  

.section-c .grid-item img{
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.section-d {
    display: flex;
    flex-direction: column;
    padding: 50px 126px;
    align-items: center;
    
}